---
title: ''
layout: default
draft: false

---
<div class="section">
  <section class="fixed v80" style='display: block; background-image: url("assets/images/{{ site.home_bgfile  }}");'>
    <div class="container container-wide container-header">
      <br><br>
      <div class="blue white-text z-depth-1 radius-border opacity-background ">
        <h1 class="header center">{{ site.title }}</h1>
        <div class="row center">
          <h5 class="header col s12 light">{{ site.description }}</h5>
        </div>
      </div>
    </div>
  </section>

  <div class="divider"></div>

  <section class="v100">
  <br>
    <div class="container container-wide">
      <ul class="collection with-header">
        <li class="collection-item"><span class="post-description flow-text">
            BOUT++ is a framework for writing fluid and plasma simulations
            in curvilinear geometry.  It is intended to be quite modular, with a
            variety of numerical methods and time-integration solvers available.
            BOUT++ is primarily designed and tested with reduced plasma fluid
            models in mind, but it can evolve any number of equations, with
            equations appearing in a readable form.
            <p> Jointly developed by University of York (UK), LLNL, CCFE, DTU, and other international partners
        </span></li>
      </ul>
    </div>

    <div>
      <h2 class="center-align blue-text">Latest Posts <i class="small material-icons">keyboard_arrow_down</i></h2>
    </div>
    <div class="divider"></div>
    <div class="container container-wide">

      {% for post in site.posts %}
        <ul class="collection with-header">
          <li class="collection-header">
            <div>
              {% if site.localtest %}
                <a class="post-link blue-text post-title" href="{{ post.url | prepend: site.localurl }}">{{ post.title }}</a>
              {% else %}
                <a class="post-link blue-text post-title" href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
              {% endif %}
              <div class="blue-text right post-meta secondary-content post-date">{{ post.date | date: "%-d %b %Y" }}</div>
            </div>
          </li>
          <li class="collection-item"><span class="post-description flow-text truncate">{{ post.description }}</span></li>
        </ul>
      {% endfor %}

    </div>
  </section>

    <div class="containter containter-wide">
      <ul class="pagination center-align blue-text">
        {% if paginator.previous_page %}
          <li class="waves-effect">
          {% if site.localtest %}
            <a href="{{ paginator.previous_page_path | prepend: site.localurl}}">
          {% else %}
            <a href="{{ paginator.previous_page_path | prepend: site.github.url}}">
          {% endif %}
          <i class="material-icons">chevron_left</i></a></li>
        {% else %}
          <li class="waves-effect"><i class="material-icons">chevron_left</i></li>
        {% endif %}
          <li class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</li>
        {% if paginator.next_page %}
          <li class="waves-effect">
          {% if site.localtest %}
            <a href="{{ paginator.next_page_path | prepend: site.localurl }}" >
          {% else %}
            <a href="{{ paginator.next_page_path | prepend: site.github.url }}" >
          {% endif %}
          <i class="material-icons">chevron_right</i></a></li>
        {% else %}
          <li class="waves-effect"><i class="material-icons">chevron_right</i></li>
        {% endif %}
      </ul>
    </div>

    <div class="container">
      <p class="rss-subscribe right-align navy-text">subscribe 
      {% if site.localtest %}
        <a href="{{ site.localurl }}/feed.xml">
      {% else %}
        <a href="{{ site.github.url }}/feed.xml">
      {% endif %}
      via RSS</a></p>
    </div>
</div>
