---
layout: default
---
<div class="section">
  <section class="fixed v80" style='display: block; background-image: url("assets/images/{{ site.home_bgfile  }}");'>
    <div class="container container-wide container-header">
      <br><br>
      <div class="blue white-text z-depth-1 radius-border opacity-background ">
        <h1 class="header center">{{ site.title }}</h1>
        <div class="row center">
          <h5 class="header col s12 light">{{ site.description }}</h5>
        </div>
      </div>
    </div>
  </section>

  <div class="divider"></div>

  <section class="v100">
  <br>
    <div class="container container-wide">
      <ul class="collection with-header">
        <li class="collection-item"><span class="post-description flow-text">
            BOUT++ is a framework for writing fluid and plasma simulations
            in curvilinear geometry.  It is intended to be quite modular, with a
            variety of numerical methods and time-integration solvers available.
            BOUT++ is primarily designed and tested with reduced plasma fluid
            models in mind, but it can evolve any number of equations, with
            equations appearing in a readable form.
            <p> Jointly developed by University of York (UK), LLNL, CCFE, DCU, DTU, and other international partners.</p>
        </span></li>
        <li class="collection-header">
          <div>
	        <h3 class="center-align blue-text"><a href="https://github.com/boutproject/BOUT-dev/releases/latest">Download BOUT++</a></h3>
          </div>
        </li>
      </ul>
    </div>

    <!-- BOUT++ main features -->
    <div class="container container-wide">
      <div class="row">
        <div class="col s4">
              <div class="center">
                <i class="large blue-text material-icons">code</i>
                <p class="flow-text">Framework for plasma simulations</p>
                <p class="light center">A flexible framework allows you to use one of several existing widely tested physics models, or write your own.</p>
              </div>
        </div>
        <div class="col s4">
              <div class="center">
                <i class="large blue-text material-icons">settings_input_component</i>
                <p class="flow-text">Modular features</p>
                <p class="light center">A wide variety of numerical methods and time-integration solvers that can be swapped at runtime</p>
              </div>
        </div>
        <div class="col s4">
              <div class="center">
                <i class="large blue-text material-icons">supervisor_account</i>
                <p class="flow-text">Open source development</p>
                <p class="light center">Freely available and licensed under LGPL, with contributors from around the world.</p>
              </div>
        </div>
      </div>
    </div>

    <!-- News posts -->
    <div>
      <h2 class="center-align blue-text">Latest Posts <i class="small material-icons">keyboard_arrow_down</i></h2>
    </div>
    <div class="divider"></div>
    <div class="container container-wide">

      {% for post in site.posts %}
        <ul class="collection with-header">
          <li class="collection-header">
            <div>
              {% if site.localtest %}
                <a class="post-link blue-text post-title" href="{{ post.url | prepend: site.localurl }}">{{ post.title }}</a>
              {% else %}
                <a class="post-link blue-text post-title" href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
              {% endif %}
              <div class="blue-text right post-meta secondary-content post-date">{{ post.date | date: "%-d %b %Y" }}</div>
            </div>
          </li>
          <li class="collection-item"><span class="post-description flow-text truncate">{{ post.description }}</span></li>
        </ul>
      {% endfor %}

    </div>
  </section>

    <div class="containter containter-wide">
      <ul class="pagination center-align blue-text">
        {% if paginator.previous_page %}
          <li class="waves-effect">
          {% if site.localtest %}
            <a href="{{ paginator.previous_page_path | prepend: site.localurl}}">
          {% else %}
            <a href="{{ paginator.previous_page_path | prepend: site.github.url}}">
          {% endif %}
          <i class="material-icons">chevron_left</i></a></li>
        {% else %}
          <li class="waves-effect"><i class="material-icons">chevron_left</i></li>
        {% endif %}
          <li class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</li>
        {% if paginator.next_page %}
          <li class="waves-effect">
          {% if site.localtest %}
            <a href="{{ paginator.next_page_path | prepend: site.localurl }}" >
          {% else %}
            <a href="{{ paginator.next_page_path | prepend: site.github.url }}" >
          {% endif %}
          <i class="material-icons">chevron_right</i></a></li>
        {% else %}
          <li class="waves-effect"><i class="material-icons">chevron_right</i></li>
        {% endif %}
      </ul>
    </div>

    <div class="container">
      <p class="rss-subscribe right-align navy-text">subscribe 
      {% if site.localtest %}
        <a href="{{ site.localurl }}/feed.xml">
      {% else %}
        <a href="{{ site.github.url }}/feed.xml">
      {% endif %}
      via RSS</a></p>
    </div>
</div>

<a href="https://github.com/boutproject/BOUT-dev"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
