
<nav class="blue accent-3" role="navigation">
  <div class="container">
    <div class="nav-wrapper"><a id="logo-container" href="{{ site.github.url }}" class="brand-logo">{{ site.short_title }}</a>
      <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="nav right hide-on-med-and-down">
          {% if site.localtest %}
            {% capture link_prefix %}{{ site.localurl }}{% endcapture %}
          {% else %}
            {% capture link_prefix %}{{ site.github.url }}{% endcapture %}
          {% endif %}

          {% for item in site.data.navigation.sections %}
            {% if item[1].first %}
              <li class="navlinks-container">
                <a class="navlinks-parent" href="javascript:void(0)">{{ item[0] }}</a>
                <div class="navlinks-children">
                  {% for child in item[1] %}
                    <a href="{{ child[1] }}">{{ child[0] }}</a>
                  {% endfor %}
                </div>
              </li>
            {% else %}
	          {% if item[0] == "Workshop 2020" %}
                  <b li>
              {% elsif page.nav-state == item[1] %}
                  <li class="active">
              {% else %}
                  <li>
              {% endif %}
                    <a href="{{ item[1] }}">
	          {% if item[0] == "Workshop 2020" %}
	                  <p class="banner_advert">{{ item[0] }}</p>
	                  </b>
	          {% else %}
                      {{ item[0] }}
              {% endif %}
	                </a>
                  </li>
            {% endif %}
          {% endfor %}

          {% if site.github.status == true %}
              <li>
                  <a class="github-button" href="https://github.com/{{ site.github.user }}/{{ site.github.repository }}" data-icon="octicon-star" data-style="mega" data-count-href="/{{ site.github.user }}/{{ site.github.repository }}/stargazers" data-count-api="/repos/{{ site.github.user }}/{{ site.github.repository }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star {{ site.github.user }}/{{ site.github.repository }} on GitHub">Star</a>
              </li>
          {% endif %}

        </ul>
        <ul class="side-nav" id="mobile-menu">
          {% for item in site.data.navigation.sections %}
            {% if item[1].first %}
              {% for child in item[1] %}
                <li>
                  <a href="{{ child[1] }}">{{ child[0] }}</a>
                </li>
              {% endfor %}
            {% else %}
                <li>
                  <a href="{{ item[1] }}">{{ item[0] }}</a>
                </li>
            {% endif %}
          {% endfor %}

          {% if site.github.status == true %}
            <li style="padding-left: 25px;">
              <a class="github-button" href="https://github.com/{{ site.github.user }}/{{ site.github.repository }}" data-icon="octicon-star" data-style="mega" data-count-href="/{{ site.github.user }}/{{ site.github.repository }}/stargazers" data-count-api="/repos/{{ site.github.user }}/{{ site.github.repository }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star {{ site.github.user }}/{{ site.github.repository }} on GitHub">Star</a>
            </li>
          {% endif %}
        </ul>
    </div>
  </div>
</nav>
