
<nav class="blue accent-3" role="navigation">
  <div class="container">
    <div class="nav-wrapper"><a id="logo-container" href="{{ site.github.url }}" class="brand-logo">{{ site.short_title }}</a>
      <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% for item in site.data.navigation %}
	    {% if item.title == "Workshop 2019" %}
              <b li>
            {% elsif page.nav-state == item.url %}
              <li class="active">
            {% else %}
              <li>
            {% endif %}
            {% if site.localtest %}
              <a href="{{ item.url | prepend: site.localurl }}">
            {% else %}
              <a href="{{ item.url | prepend: site.github.url }}">
            {% endif %}
	    {% if item.title == "Workshop 2019" %}
	      <p class="banner_advert">
              {{ item.title }}
	      </p>
	      </b>
	      </a>
	    {% else %}
              {{ item.title }}
	      </a>
            {% endif %}
	      </li>
          {% endfor %}

          {% if site.github.status == true %}
            <li>
              <a class="github-button" href="https://github.com/{{ site.github.user }}/{{ site.github.repository }}" data-icon="octicon-star" data-style="mega" data-count-href="/{{ site.github.user }}/{{ site.github.repository }}/stargazers" data-count-api="/repos/{{ site.github.user }}/{{ site.github.repository }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star {{ site.github.user }}/{{ site.github.repository }} on GitHub">Star</a>
            </li>
          {% endif %}

        </ul>
        <ul class="side-nav" id="mobile-menu">
          {% for item in site.data.navigation %}
            <li>
            {% if site.localtest %}
              <a href="{{ item.url | prepend: site.localurl }}">
            {% else %}
              <a href="{{ item.url | prepend: site.github.url }}">
            {% endif %}
            {{ item.title }}</a></li>
          {% endfor %}

          {% if site.github.status == true %}
            <li style="padding-left: 25px;">
              <a class="github-button" href="https://github.com/{{ site.github.user }}/{{ site.github.repository }}" data-icon="octicon-star" data-style="mega" data-count-href="/{{ site.github.user }}/{{ site.github.repository }}/stargazers" data-count-api="/repos/{{ site.github.user }}/{{ site.github.repository }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star {{ site.github.user }}/{{ site.github.repository }} on GitHub">Star</a>
            </li>
          {% endif %}
        </ul>
    </div>
  </div>
</nav>
