<div id="nav-container">
<ul id="nav">

{% if page.nav-state == 'index' %}
	<li class="current-page">About</li>
{% else %}
	<li><a href="{{ page.prefix }}index.html">About</a></li>
{% endif %}

{% if page.nav-state == 'changes' %}
	<li class="current-page">Recent changes</li>
{% else %}
	<li><a href="{{ page.prefix }}changes.html">Recent changes</a></li>
{% endif %}

{% if page.nav-state == 'dev' %}
	<li class="current-page">Development</li>
{% else %}
	<li><a href="{{ page.prefix }}devel.html">Development</a></li>
{% endif %}


{% if page.nav-state == 'projects' %}
	<li class="current-page">Projects</li>
{% else %}
	<li><a href="{{ page.prefix }}projects.html">Projects</a></li>
{% endif %}

{% if page.nav-state == 'publications' %}
	<li class="current-page">Publications</li>
{% else %}
	<li><a href="{{ page.prefix }}publications.html">Publications</a></li>
{% endif %}

{% if page.nav-state == 'doc' %}
	<li class="current-page">Documentation</li>
{% else %}
	<li><a href="{{ page.prefix }}doc.html">Documentation</a></li>
{% endif %}

{% if page.nav-state == 'download' %}
        <li class="current-page">Download</li>
{% else %}
        <li><a href="{{ page.prefix }}download.html">Download</a></li>
{% endif %}
</ul>
</div>
