---
---

$teal: #009688;
$black: #000000;
$blue: #2196F3; // rgb( 33, 150, 243)
$blue-transparent: rgba($blue,0.8);

// functional variables
$author_color: $blue;
$about_color: $blue;
$post_color: $blue;

* {
  margin: 1;
  padding: 0;
}

nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 55px;
}

section {
    display: table;
    width: 100%;

    .container-wide {
        padding: 2em 2em;
    }
}

.markdown-file {
    .author {
        color: $author_color;
        font-size: 0.9em;
        margin-top: -0.8em;
    }
    .about {
        h1, h2, h3, h4, h5, h6 {
           color: $about_color;
        }
    }
    .post {
        h1, h2, h3, h4, h5, h6 {
           color: $post_color;
        }

        p {
            margin: 0 auto 1.575rem;
            font-family: 'Open Sans',sans-serif;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 300;
            margin-bottom: 2em;
            line-height: 2;
            letter-spacing: .01rem;
        }
    }

    li {
        list-style-position: inside;
        list-style-type: disc;
    }
}

.fixed {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    .v100 {
        height: 100vh;
    }
    .v80 {
        height: 80vh;
    }

    .v70 {
        height: 70vh;
    }

    .v50 {
        height: 50vh;
    }
}

.container-header {
    @media screen and (max-width: 400px) {
        h1 {
            padding-top:5px;
            font-size:3em;
        }
    }

    @media screen and (max-width: 350px) {
        h1 {
            padding-top:5px;
            font-size:2em;
        }
    }


    a {
        color:#ffffff;
        text-decoration: underline;
        text-shadow: none;
    }

    .radius-border{
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .opacity-background{
        background: $blue-transparent;
    }

    .title-shadow {
        -webkit-text-shadow: 1px 2px 1px #000000;
        -moz-text-shadow: 1px 2px 1px #000000;
        text-shadow: 1px 2px 1px #000000;
    }

}

.post-title {
    font-size: 2em;
}

.post-date {
    font-size: 0.8em;
}

.post-description {
    line-height: 1.25em;
}
