---
layout: default
---

<div class="section">
  <br>
  <section class="v100">
    <br>
    <div>
      <h2 class="center-align blue-text">{{ page.title }}</h2>
    </div>
    <div class="divider"></div>
    <div class="container container-wide markdown-file">

      <ul class="collection with-header">
        <div class="row">
          <li class="collection-item" style="list-style-type: none;">
            <div class="left">
              <img class="responsive-img materialboxed" src="{{ page.image }}" data-caption="{{ page.caption }}">
            </div>
            <span class="flow-text">{{ page.content }}</span>
          </li>
        </div>
      </ul>
    </div>
  </section>
</div>
